@model WordPlay.Models.QuizQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuizQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
