@model WordPlay.Models.PgTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PgTask</h4>
    <hr />
    <dl class="dl-horizontal">
        @if(!ViewBag.answer)
        { 
        <dt>
            @Html.DisplayNameFor(model => model.PgTaskString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PgTaskString)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.PgTaskOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PgTaskOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PgTaskScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PgTaskScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PgTaskAnswer)
        </dt>

        <dd>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
           @Html.EditorFor(model => model.PgTaskAnswer, new { htmlAttributes = new { @class = "form-control" } })
            <input type="hidden" name="k" value="@Model.k" />
            <input type="hidden" name="PgTaskString" value="@Model.PgTaskString" />
            <input type="hidden" name="PgTaskOut" value="@Model.PgTaskOut" />
            <input type="hidden" name="PgTaskScore" value="@Model.PgTaskScore" />

    <input type="submit" value="Send" class="btn btn-default" />
    }
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.k }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
